extends ../layout

block content
  h1 I'm using generator-express MVC!
    h1 Articles

    #results
        table
            thead
                if articles
                    tr
                        th name
            tbody
                if articles
                    - each a in articles
                        tr
                            td
                                p= a.title
    br
    //a(href="/users/new") New User
